* {

    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Audiowide', 'cursive';
    color: rgb(235, 235, 235);
}

.title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    padding: 10px;
    color: rgb(235, 235, 235);
}

.profilePic {
    margin-top: 10px;
    width: 125px;
    height: 125px;
    border-radius: 20px;
    padding: 10px;
}

header{
    display: flex;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    text-decoration: none;
    color: rgb(235, 235, 235);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
}

.nav-links li{
    list-style: none;
    position: relative;
}

.nav-links a{
    text-decoration: none;
}

.burger {
    margin-left: 50%;
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(235, 235, 235);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1125px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute; 
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: linear-gradient(122deg, rgba(12,1,19,1) 9%, rgba(63,17,87,1) 100%);
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{   
        z-index: 2;
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
    z-index: 1;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,+6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(+45deg) translate(-5px,-6px);
}

.banner {
    height: 125px;
    width: 100%;
}

.workBox {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding-left: 7px;
    padding-right: 10px;
    padding-top: 10px;
    flex-wrap: wrap;
    transition: all .2s ease-in-out; 
}

.workBox li{
    padding: 10px;
}

.workBox :hover{
    transform: scale(1.1);  
}

.imgSet {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    flex: 1;
    background-color: white;
    cursor: pointer;
}

.workBox li{
    list-style: none;
}

main {
    background: rgb(3, 215, 243);
    background: linear-gradient(0deg, rgb(10, 248, 216) 44%, rgba(8, 39, 218, 0.726) 100%);
}

#aboutMe {
    display: flex;
    margin-left: 2%;
    padding: 10px;

}

#workPage {
    display: flex;
    margin-left: 2%;
    width: 7.7%;
    padding: 10px;

}

.mainSub {
    display: flex;
    padding-left: 7px;
}

body {
background-color: black;
height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    height: 20vh;
}

#contactMe {
    position: relative;
    top: 18px;
    padding-left: 15px;
}

.info {
    display: inline-flex;
    font-size: 15px;
    text-decoration: underline;
    padding: 20px;
    text-decoration: none;
}

.fcolor {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 3%, rgba(40,2,61,0.7763480392156863) 85%);
}

.divider {

    border-left: 3px solid gray;
    height: 190px;
    margin-left: 0%;

}

.divider1 {
    border-left: 3px solid grey;
    height: 305px;
    margin-left: 0%;

}

@media screen and (max-width:500px){
    *{
        overflow-x: hidden;
    }
    .profilePic{
        width: 75px;
        height: 75px;
        position:absolute;
        top: 10%;
        left: 6%;
        border-radius: 10px;
    }
    .mainSub {
        display: flex;
        padding-left: 7px;
        margin-top: 5%;
    }
    .workBox {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 30%;
        margin-left: 4%;
        padding-left: 7px;
    }
    .imgSet {
        height: 100px;
        width: 100px;
    }
    #aboutMe {
        position: absolute;
        left: 35%;
        top: 20%;
    }
    
    #workPage {
        position: absolute;
        left: 38%;
        top: 45%;
        width: 100%;
    }
    .divider {
        border-top: 3px solid gray;
        width: 85%;
        height: 0px;
        position: absolute;
        left: 0%;
        margin-left: 35px;
        top: 50%;
    }
    .divider1 {
        border-top: 3px solid gray;
        width: 85%;
        height: 0px;
        position: absolute;
        left: 0%;
        margin-left: 35px;
        top: 24%;
    }
    footer {
        display: block;
        position: absolute;
        left: 0%;
        bottom: 0%;
        width: 100%;
        overflow: hidden;
    }
    #contactMe {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        font-size: 10px;
        padding: 5px;
        text-decoration: none;
        flex-wrap: wrap;
    }
}